<div class="row">
	<div class="jumbotron col-lg-8 col-lg-offset-2">
		<h2>GameReviewsBlog</h2>
		<p>Blog de reviews de juegos a nivel personal o de opinión creadas por usuarios experimentados en el mundo del gaming.<br>
		Régistrate ya utilizando el botón de abajo si quieres aportar contenido nuevo y opińión o Inicia Sesión si eres usuario registrado para crear nuevos artículos de análisis.	
		</p>
		<button class="btn btn-primary">Registrate</button><button>Iniciar Sesión</button>
	</div>
</div>